@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #faf0e6;
}

@theme inline {
  --font-playfair: var(--font-playfair);
  --font-space-mono: var(--font-space-mono);
}
